.testimony{
    padding:50px 30px;
    color: hsl(228, 39%, 23%);
    text-align: center;

    h2{
        font-size: 30px;
        font-weight: 800;
        padding: 20px 0;
        @media screen and (min-width:378px) {
                font-size: 35px;
            }
        }
        &__container{
            display: flex;
            align-items: center;
            overflow-x: auto;
            padding: 50px 0;
            width: 100%;
            height: 100%;
            -ms-overflow-style: none;
            scrollbar-width: none;
            @media screen and (min-width:1000px) {
                justify-content: center;
            }
            &::-webkit-scrollbar {
                display: none;
            }
        }
        &__indi{
            height: 100%;
            min-width: 300px;
            max-width: 400px;
            cursor: pointer;
            scroll-behavior: smooth;
            width: 100%;
            padding: 0 20px;
            @media screen and (min-width:378px) {
                min-width: 340px;
            }
            h4{
                font-size: 22px;
                padding: 10px 0;
            }
    }
}

@media screen and (min-width: 800px) {
    .testimony{
        padding: 80px 0;
        h2{
            text-align: center;
            font-size: 38px;
        }
        &__container{
            padding: 40px 0;
        }
    }
    
}