.nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;
    @media screen and (min-width:940px) {
        padding: 20px 70px;  
    }
    &__menu, &__close{
        display: none;
        cursor: pointer;
    }
    &__logo{
        height: 100%;
        display: flex;
        align-items: center;
    }
    &__list{
        display: flex;
        list-style: none;
        li{
            padding: 0 20px;
            cursor: pointer;
            transition: all 0.3s ease;
            &:hover{
                color: rgb(248, 132, 106);
            }
        }
    }
    &__list-mob{
        display: none;
        list-style: none;
        li{
            padding: 0 20px;
            cursor: pointer;
            transition: all 0.3s ease;
            &:hover{
                color: rgb(248, 132, 106);
            }
        }
    }
    &__btn{
        display: none;
        @media screen and (min-width:1016px) {
            display: block;
        }
    }
}

@media screen and (max-width: 800px) {
    .nav{
        &__list{
            display: none;
        }
        &__list-mob{
            position: absolute;
            flex-direction: column;
            top: 70px;
            display: none;
            text-align: center;
            justify-content: center;
            align-items: center;
            right: 20px;
            left: 20px;
            background-color: rgb(255, 255, 255);
            box-shadow: 0px 24px 70px 10px rgba(58, 58, 58, 0.364);
            li{
                padding: 30px 0;
                font-weight: 800;
                font-size: 20px;
            }
        }
        &__menu{
            display: block;
        }
        
    }
    
}